In [8]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [13]:
df=pd.read_csv('netflix_titles_2021 (1).csv')
df

,Unnamed: 0,show_id,type,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,0,s1,Movie,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,1,s2,TV Show,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,4,s5,TV Show,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
3,7,s8,Movie,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
4,8,s9,TV Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
...,...,...,...,...,...,...,...,...,...,...,...,...
7971,8801,s8802,Movie,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan","March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...
7972,8802,s8803,Movie,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
7973,8804,s8805,Movie,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
7974,8805,s8806,Movie,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
7975,8806,s8807,Movie,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [16]:
twopower_sr=pd.Series([1,2,4,8,16,32,64,128,256,512,1024])
BM=[True,False,True,True,False,True,False,True,True,False,True]  
twopower_sr[BM]

0        1
2        4
3        8
5       32
7      128
8      256
10    1024
dtype: int64

In [17]:
BM=twopower_sr>500
twopower_sr[BM]

9      512
10    1024
dtype: int64

In [18]:
BM=twopower_sr<250
twopower_sr[BM]

0      1
1      2
2      4
3      8
4     16
5     32
6     64
7    128
dtype: int64

In [19]:
df['release_year']

0       2020
1       2021
2       2021
3       1993
4       2021
        ...
7971    2015
7972    2007
7973    2009
7974    2006
7975    2015
Name: release_year, Length: 7976, dtype: int64

In [21]:
release_year=pd.Series([2020,2018,2021,1993,2021,2015,2007,2009,2006,2015])
BM=[True,False,True,True,False,True,False,True,True,False]
release_year[BM]

0    2020
2    2021
3    1993
5    2015
7    2009
8    2006
dtype: int64

In [22]:
df['country']

0                                           United States
1                                            South Africa
2                                                   India
3       United States, Ghana, Burkina Faso, United Kin...
4                                          United Kingdom
                              ...
7971                         United Arab Emirates, Jordan
7972                                        United States
7973                                        United States
7974                                        United States
7975                                                India
Name: country, Length: 7976, dtype: object

In [25]:
country=pd.Series(["United Arab Emirates","Jordan","United Arab Emirates","India","South Africa"])
BM=[True,False,False,False,True]
country[BM]

0    United Arab Emirates
4            South Africa
dtype: object

In [34]:
df.query('release_year == 2001 & type == "TV Show"')

,Unnamed: 0,show_id,type,director,cast,country,date_added,release_year,rating,duration,listed_in,description
437,657,s658,TV Show,NaN,Anderson Cooper,United States,"June 21, 2021",2001,TV-14,2 Seasons,"Reality TV, TV Action & Adventure, TV Mysteries","In this competition show, contestants try to e..."
5005,5672,s5673,TV Show,NaN,"Kappei Yamaguchi, Satsuki Yukino, Kumiko Watan...",Japan,"December 15, 2016",2001,TV-14,2 Seasons,"Anime Series, International TV Shows","Yanked down a well, schoolgirl Kagome Higurash..."
5135,5811,s5812,TV Show,NaN,NaN,United States,"August 15, 2016",2001,TV-14,1 Season,"British TV Shows, Docuseries","After dire setbacks in 1940, Winston Churchill..."
6991,7782,s7783,TV Show,NaN,"Jason Faunt, Erin Cahill, Kevin Kleinberg, Deb...",United States,"January 1, 2016",2001,TV-Y7,1 Season,Kids' TV,The team launches a new campaign against evil ...
7407,8214,s8215,TV Show,Alastair Fothergill,David Attenborough,United Kingdom,"October 10, 2015",2001,TV-G,1 Season,"British TV Shows, Docuseries, International TV...",David Attenborough narrates this definitive ex...

In [35]:
df['type'].count()

7976

## no of movies released in 2020

In [36]:
BM=df.release_year==2020

In [48]:
BM=df.type=="TV show"

In [50]:
df[BM].release_year.value_counts()

Series([], Name: release_year, dtype: int64)

In [58]:
len(df.query('release_year==2020 & type=="Movie"'))

461

In [49]:
#display rating of tv show in each year

df['release_year']

0       2020
1       2021
2       2021
3       1993
4       2021
        ...
7971    2015
7972    2007
7973    2009
7974    2006
7975    2015
Name: release_year, Length: 7976, dtype: int64